.row{
    background-color: rgb(46, 92, 115);
}
footer{
    color: blanchedalmond;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px grey;
}