<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1>
                - 
                <h3>años</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Ipsum maxime tempore nesciunt 
                dignissimos facilis recusandae
                explicabo, accusantium repellendus 
                ad magnam vel ab neque enim culpa 
                officiis? Eum necessitatibus maxime 
                dolores!</p>

        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1>
                - 
                <h3>años</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Ipsum maxime tempore nesciunt 
                dignissimos facilis recusandae
                explicabo, accusantium repellendus 
                ad magnam vel ab neque enim culpa 
                officiis? Eum necessitatibus maxime 
                dolores!</p>

        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1>
                - 
                <h3>años</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Ipsum maxime tempore nesciunt 
                dignissimos facilis recusandae
                explicabo, accusantium repellendus 
                ad magnam vel ab neque enim culpa 
                officiis? Eum necessitatibus maxime 
                dolores!</p>

        </ul>
    </div>
</div>