<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Tren</h1>
            <p>Lorem ipsum dolor sit, amet consectetur 
                adipisicing elit. Excepturi animi 
                cupiditate ad porro. Vero autem maxime 
                ex harum quaerat suscipit nobis sint 
                voluptatum hic inventore officia, dolor 
                commodi optio animi?</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 
        offset-lg-1 parte2">
            <img src="../../../assets/tren.png" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>