<div class="row">
    <h1>Hard & soft Skills</h1>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="69"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [showSubtitle]="false"
            [titleColor]="'pink'"
            [titleFontSize]="'3em'"
            [imageSrc]="'../assets/html5.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="49"
            [radius]="80"
            [showUnits]="false"
            [title]="'Github'"
            [showSubtitle]="false"
            [titleColor]="'pink'"
            [titleFontSize]="'3em'"
            [imageSrc]="'../assets/github.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="78"
            [radius]="80"
            [showUnits]="false"
            [title]="'CSS'"
            [showSubtitle]="false"
            [titleColor]="'pink'"
            [titleFontSize]="'3em'"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="56"
            [radius]="80"
            [showUnits]="false"
            [title]="'angular'"
            [showSubtitle]="false"
            [titleColor]="'pink'"
            [titleFontSize]="'3em'"
            [imageSrc]="'../assets/angular.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="86"
            [radius]="80"
            [showUnits]="false"
            [title]="'Creatividad'"
            [showSubtitle]="false"
            [titleColor]="'Black'"
            [titleFontSize]="'2em'"
            [imageSrc]="'../assets/html5.png'"
            [showImage]="false"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="80"
            [showUnits]="false"
            [title]="'Comunicación'"
            [showSubtitle]="false"
            [titleColor]="'Black'"
            [titleFontSize]="'1.8em'"
            [imageSrc]="'../assets/html5.png'"
            [showImage]="false"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        
    </div>
</div>