
<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://argentinaprograma.inti.gob.ar/"  target="_blank" rel="noreferrer noopener"><img src="../../../assets/Argprograma.png" id="logoAP"></a>
        </div>
        <div class="redes">
                <a href="https://www.facebook.com/guidopilato/"target="_blank" rel="noreferrer noopener"><img src="../../../assets/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/guidopilato/"target="_blank" rel="noreferrer noopener"><img src="../../../assets/instagram.png" alt="instagram"></a>
                <a href="https://twitter.com/guidopilato"target="_blank" rel="noreferrer noopener"><img src="../../../assets/twitter.png" alt="twitter"></a>
                <a href="https://github.com/guidopilato"target="_blank" rel="noreferrer noopener"><img src="../../../assets/github.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/guido-pilato-62aa0621/"  target="_blank" rel="noreferrer noopener"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>
