
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Argprograma.png" id="logoAP">
        </div>
        <div class="redes">
                <img src="../../../assets/facebook.png" alt="facebook">
                <img src="../../../assets/instagram.png" alt="instagram">
                <img src="../../../assets/twitter.png" alt="twitter">
                <img src="../../../assets/github.png" alt="github">
                <img src="../../../assets/linkedin.png" alt="linkedin">
                <button type="button" class="btn btn-primary">INGRESO</button>
        </div>
    </div>
</div>
